/*body, html {
	background: url("hitch.gif") !important;
}*/
#line {
	background-color: black;
}
.navbar, nav {
	background-color: #ffc53a;
	color: #664500;
	font-family: 'Acme', sans-serif;
}

div {
	color: #664500;
	font-family: 'Acme', sans-serif;
}

#navName {
	color: #664500;
	font-family: 'Acme', sans-serif;
}

#mainName {
	color: #664500;
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 6rem;

}

.jumbotron {
	text-align: center;

}

#jumbo{
	width: 100%;
	height: 50em;

}

#form1 {
	text-align: left;

}

.btn {
	background-color: #ffc53a;
	text-align: center;
	/*width: 300px;
	height: 50px;*/
	color: #664500;
	font-size: 38px;
}


#bottomJumbo {
	margin-bottom: 20%;

}

#insideJumbo {
	margin-bottom: 20em;
}

footer {
	color: #664500;
	font-family: 'Acme', sans-serif;
}

#aboutUs{
	font-size: 48px;
}

#abtUs {
	font-size: 28px;
}

#verticalLine {
	height: 500px;
	width: 2px;
	border-left: 2px solid black;
	background-color: none;
}

.panel-footer {
	text-align: center;
}

img {
	width: 15%;
	height: 15%;
	position: center;
}

#comment {
	width: cover;
	height: 100px;
}

#googleMap{
	width: 350px;
	height: 250px;

}

#imgContact {
	width: 5%;
	height: 5%;
	position: center;
}

#footerJumbo {
	margin-bottom: 20%;
}

#logo, #panelHeading {
	background-color: #ffc53a;
	color: #664500;
	font-family: 'Acme', sans-serif; 
}


#button {
	margin-top: 50px;
}
#works {
	height: 200px;
	background-color: none;
	text-align: center;
	
}

#picture {
	width: auto;
	height: 80%;
	
}

h3 {
	text-align: center;
}

#box {
	border: solid 1px;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px){
	
}
/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	
}

/*Desktop Styles*/
@media only screen and (min-width: 961px){
	
	
}





